// Break Point Sizes based on Bulma

$mobile: max-width 768px;
$tablet: min-width 769px;
$tabletOnly: 769px 1007px;
$touch: max-width 1007px;
$desktop: min-width 1008px;
$desktopOnly: 1008px 1199px;
$widescreen: min-width 1200px;
$widescreen: 1200px 1391px;
$fullHd: min-width 1392px;
